// vwvh工具方法
$ui-width: 1283px;
$ui-height: 737px;
@mixin widescreen {
  @media screen and (max-aspect-ratio: 16/9) {
    & {
      @content;
    }
  }
}
@function px2vw($px) {
  @return $px / $ui-width * 100vw;
}
@function px2vh($px) {
  @return $px / $ui-height * 100vh;
}

@function px2vw4wide($px) {
  @return $px / $ui-width * 100vw;
}
@mixin res-size($args...) {
  & {
    @each $property, $px in keywords($args) {
      #{$property}: px2vh($px);
    }
  }
  @include widescreen {
    @each $property, $px in keywords($args) {
      #{$property}: px2vw4wide($px);
    }
  }
}
@mixin res-size-important($args...) {
  & {
    @each $property, $px in keywords($args) {
      #{$property}: px2vh($px) !important;
    }
  }
  @include widescreen {
    @each $property, $px in keywords($args) {
      #{$property}: px2vh4wide($px) !important;
    }
  }
}
@mixin ellipsis-line-middle($line) {
  overflow: hidden;
  -webkit-line-clamp: $line;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  word-break: break-word;
  /*! autoprefixer: on */
}

// css引入
@import "./font/index.css";
@import "./reset.scss";
@import "./animation.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
// 字体管理

//中文字体
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

// 越南字体
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");

@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

// 泰国
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

$base-font-family: "Teko-Regular";
$th-font-family: "Kanit", sans-serif;

html:lang(th) {
  body,
  div,
  span,
  p,
  ul,
  li,
  a {
    font-family: $th-font-family !important;
  }
}
// 组件样式

.mask{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	z-index: 100;
}

.none{
	display: none !important;
}
.dialog{
	position: fixed;
	width: 101%;
	height: 101%;
	left: 0;
	top: 0;
	display: flex;
  z-index: 100;
}

.dialog.outter-dialog{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 101;
	left: 50%;
	top: 50%;
}
.outter-dialog.loading img{
	width: px2vw(80px)
}

.loading-mask{
	z-index: 100;
}
.rule-mask{
	z-index: 15;
	// height: px2vh(644px);
	height: 100%;
	top: auto;
	bottom: 0;
}
.loading-mask{
	z-index: 100;
}
.show {
    display: block;
}
.hidden {
    display: none;
}

// Loading
.ga-loading{
    width: 100%;
    height:  100%;;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    img{
      width: 20vh;
      height: 20vh;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -10vh;
      margin-top: -10vh;
      z-index: 999;
    }
}
// 业务样式
.App {
  font-family: $base-font-family;
  width: 100vw;
  height: 100vh;
}
.home-page {
  font-family: $base-font-family;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .slider-img-warp {
    background-color: rgba(252, 103, 103, 0.6);
    @include res-size($height: 400px, $width: 300px);
  }
  .slider1 {
    background-color: rgba(59, 101, 216, 0.6);
  }
  .slider2 {
    background-color: rgba(235, 200, 103, 0.6);
  }
  .slick-next {
    right: 0;
    z-index: 1;
  }
  .slick-prev {
    z-index: 1;
    left: 0;
  }
}
